argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
contourpy
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
Flask
fonttools
idna
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-core
jupyter_client
jupyterlab-pygments
jupyterlab-widgets
kaleido
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
scikit-learn
scipy
Send2Trash
six
soupsieve
stack-data
tenacity
terminado
threadpoolctl
tinycss2
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
